#
# Configure logging for the cache server for data federations in the OSG
#
# ************************************************************
# * NOTE: Changes to this file will be PRESERVED on upgrades *
# ************************************************************
#
# This file is part of the XCache Daemon
# https://opensciencegrid.org/docs/data/stashcache/overview/

ofs.trace delay
pfc.trace info
cms.trace defer redirect stage
