#
# Configure logging for the cache server for the CMS data federation
#
# ************************************************************
# * NOTE: Changes to this file will be PRESERVED on upgrades *
# ************************************************************
#
# This file is part of the CMS XCache Daemon

xrootd.trace emsg login stall
xrd.trace    conn
ofs.trace    delay

if exec xrootd
   pfc.trace    debug
else
   cms.trace    defer redirect stage
fi
