[Main]

#(REQUIRED) Points to the top of the directory where the .root files to analyze are found
# When set it to 'auto'(default), it will attempt to set the 'path' automatically to be
# Xrootd's configuration parameter: 'oss.localroot'
path = auto

#(REQUIRED) Where to store the DataBase
db = /var/lib/xcache-consistency-check/db.sql

# Where to store the logs
logfile = /var/log/xrootd/xcache-consistency-check.log

# Num of processes used to decompress baskets in parallel
num_procs = 1

# Once a file has been analyzed it will wait for this many seconds
# before analyzing it again, even if the file has changed
last_check_threshold = 86400
