[Unit]
Description=XCache consistency check

[Service]
User=xrootd
Group=xrootd
Type=simple
ExecStart=/bin/xcache-consistency-check --config /etc/xrootd/xcache-consistency-check.cfg

[Install]
WantedBy=multi-user.target
