[Unit]
Description=Xcache consistency check

[Service]
User=xrootd
Group=xrootd
Type=simple
ExecStart=/bin/xcache-consistency-check --config /etc/xcache-consistency-check/default.cfg

[Install]
WantedBy=multi-user.target
