[Unit]
Description=Origin Authfile generator
After=network-online.target

[Service]
User=xrootd
Group=xrootd
Type=oneshot
ExecStart=/usr/libexec/xcache/authfile-update --origin

[Install]
WantedBy=multi-user.target
