[Unit]
Description=Origin Authfile generator
After=network.target

[Timer]
OnBootSec=15min
OnUnitActiveSec=15min
RandomizedDelaySec=3min
Unit=stash-origin-authfile.service

[Install]
WantedBy=timers.target
