#
# Configure logging for the cache server for the ATLAS data federation
#
# ************************************************************
# * NOTE: Changes to this file will be PRESERVED on upgrades *
# ************************************************************
#
# This file is part of the ATLAS XCache Daemon

pfc.trace info
ofs.trace open close delay redirect
