[Unit]
Description=StashCache Authfile generator
After=network-online.target

[Timer]
OnBootSec=15min
OnUnitActiveSec=15min
RandomizedDelaySec=3min
Unit=stash-cache-authfile.service

[Install]
WantedBy=timers.target
