[Unit]
Description=StashCache public Authfile generator

[Service]
User=xrootd
Group=xrootd
Type=oneshot
ExecStart=/usr/libexec/stashcache-cache-server/authfile-public-update

[Install]
WantedBy=multi-user.target
