[Unit]
Description=Report StashCache usage stats every 15 minutes

[Timer]
OnUnitInactiveSec=15m
Unit=stashcache.service

[Install]
WantedBy=multi-user.target
