[Unit]
Description=StashCache Authfile generator

[Service]
User=xrootd
Group=xrootd
Type=oneshot
ExecStart=/usr/libexec/xcache/authfile-update --cache

[Install]
WantedBy=multi-user.target
