[Unit]
Description=Report StashCache usage stats periodically

[Timer]
OnBootSec=5m
OnUnitActiveSec=10m
RandomizedDelaySec=3m
Unit=stashcache-reporter.service

[Install]
WantedBy=timers.target
