[Unit]
Description=Report StashCache usage stats

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/sbin/stashcache --one-shot

[Install]
WantedBy=multi-user.target
