[Unit]
Description=Report XCache usage stats
Wants=fetch-crl-cron.service

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/sbin/xcache --one-shot

[Install]
WantedBy=multi-user.target
