[Unit]
Description=Report XCache usage stats periodically
After=network-online.target

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
RandomizedDelaySec=3min
Unit=xcache-reporter.service

[Install]
WantedBy=timers.target
