[Unit]
Description=Report XCache usage stats periodically
After=network.target

[Timer]
OnBootSec=5m
OnUnitActiveSec=10m
RandomizedDelaySec=3m
Unit=xcache-reporter.service

[Install]
WantedBy=timers.target
