[Unit]
Description=Report XCache usage stats
Wants=fetch-crl-cron.service
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/libexec/xcache/xcache-reporter --one-shot

[Install]
WantedBy=multi-user.target
