[Unit]
Description=StashCache/Origin Authfile generator
After=network-online.target

[Timer]
OnBootSec=15min
OnUnitActiveSec=15min
RandomizedDelaySec=3min
Unit=stash-authfile.service@%i

[Install]
WantedBy=timers.target
